@inherits LayoutComponentBase

<div class='wrap'>
    <header id='header'>
        <HeadBanner />
        <Navigation />
    </header>
    <main id='main'>
        <div class='container'>@Body</div>
    </main>
</div>

<div class='footer'>
    <footer id='footer'>
        <div class='container'>
            <div class='row'>
                <Contact />
                <Social />
            </div>
        </div>
    </footer>

    <CopyrightFooter />
</div>