<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Andrew Goacher (thegoach.com)">
    <title>TheGoach.com - Never updates on Mondays!</title>
    <link rel="shortcut icon" href="/images/gt_favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/231e949c39.css"/>
    {% block head %}{% endblock %}
</head>
<body class="home">
<div class="wrap">
    <header id="header">
        <div id="head" class="parallax" parallax-speed="2">
            <h1 id="logo" class="text-center">
                <img class="img-circle" src="/images/me.jpg" alt="">
                <span class="title">Andrew Goacher</span>
                <span class="tagline">Software Developer<br>
				needs a website as his friends don't listen any more.</span>
            </h1>
        </div>
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="target">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</div>
<div class="footer">
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>
                            <a href="mailto:andrewgoacher@outlook.com">andrewgoacher@outlook.com</a><br>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://twitter.com/the_goach"><i class="fa fa-twitter fa-2"></i></a>
                            <a href="https://www.linkedin.com/in/andrewgoacher/"><i class="fa fa-linkedin fa-2"></i></a>
                            <a href="https://github.com/andrewgoacher/"><i class="fa fa-github fa-2"></i></a>
                            <a href="https://gitlab.com/andrewgoacher"><i class="fa fa-gitlab fa-2"></i></a>
                            <a href="https://bitbucket.org/%7B59b1a85d-9327-4969-bdc4-689405ed3023%7D/"><i
                                    class="fa fa-bitbucket fa-2"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <footer id="underfooter">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                </div>
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2020, Andrew Goacher<br>
                            Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
