{% extends "base" %}

{% block content %}

<div class="row section featured topspace">
    <h2 class="section-title"><span>Sorry! No posts yet!</span></h2>
    <div class="row">
        <h3></h3>
        {{page|safe}}
    </div>
</div>

{% endblock content %}