<div id='head' class='parallax' parallax-speed='2'>
    <h1 id='logo' class='text-center'>
        <img class='img-circle' src='/images/me.jpg' alt='Me' />
        <span class='title'>Andrew Goacher</span>
        <span class="tagline">Software Developer<br />Needs a website as his friends don't listen any more.</span>
    </h1>
</div>
