<nav className='navbar navbar-default '>
    <div className='container-fluid'>
        <div className='navbar-header'>
            <button type='button' className='navbar-toggle collapsed' data-toggle='collapse' data-target='#target'
                aria-expanded='false'>
                <span className='sr-only'>Toggle navigation</span>
                <span className='icon-bar'></span>
                <span className='icon-bar'></span>
                <span className='icon-bar'></span>
            </button>
        </div>
        <div className='collapse navbar-collapse' id='target'>
            <ul className='nav navbar-nav'>
                <NavLink href="/" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </ul>
        </div>
    </div>
</nav>