html, body {
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-end;
}

main {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding: 0;
}